body{
	background: url(../img/micocina.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment:fixed;
  	 
  	font-family: Verdana;
}
.main{
	background: rgba(46, 119, 148, 0.42);
}

.text-center{
	text-align: center;
}

.tip{
	border: 3px solid black;
}
.button{
	background: #54B1CC;
	text-align: center;
}
.fav{
	border: 2px solid white;
	margin:5px;
	width: 110%;
	max-height: 15	0%;
}
a{
	color:#0C0B0B;
	text-align: center;
}
.busca{
	background: none;
	padding:5px;
}
.blue{
	background: rgba(46, 119, 148, 1);
	padding:15px;
}
.pub{
	color: #FAFBFD;
	text-align: center;
}
.centrado{
	text-align: center;
	
}
.com{
	color: #060606;
	text-align: center;
}
.menu-vertical{
	text-align: center;
	margin:0px;
}
.hola{
	margin-left: 35%;
}

