body{
  background: url(../img/Organización-Mundial-del-Turismo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;  
}

p{
  padding: 3px;
  margin: auto;
  font-family: Roboto-Medium;
  font-size: 21px;
}
h4{
  font-family: Roboto-Medium;
}
h3{
  font-family: Roboto-Medium;
}
.tip{
  border:1px solid black;
}
.row{
    padding: 0px;
}
.col{
  padding: 0px;
}
.logo{
  height: 160px;
  margin-top: 15px;
}
.left-sidebar ul{
  border: none;
  background: none;
}
.left-sidebar i.fa{
  padding: 8px;
  font-size: 35px;
  color: rgba(51, 153, 204, 1);
  border: 1px solid black;
  background: #FFFFFF;
  border-radius: 8px;
}
.left-sidebar li{
 padding:15px;
  margin:auto;
}
.collection-may{
  background: none;
}

.img-lat{
  height: auto;
  width: 95%;
}
.img-cent{
  height: auto;
  width: 95%;
}

.img-plan{
  height: 80%;
  width: 100%;
}
.img-ent{
  height: 150%;
  width: 85%;
}

.img-autor{
  width: 75%;
  height: 75%;
}

.articulo1{
  font-size: 20px;
  font-style: italic;
}
.contenedor-parrafo{
 margin-top: 0px;
 padding: 0px;
}
.contenedor-entrada{
 margin: 10px;
 padding: 10px;
 border: 10px;
}
.marco{
  background-color: none;
  margin-top: 10px;
}
.notapie{
  margin-top: 0px;
}





















